$font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
$color-primary: #000;
$color-secondary: #fff;

@mixin link-styles {
  color: inherit;
  text-decoration: none;
}

@mixin dark-mode {
  @media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
    }
    body {
      color: $color-secondary;
      background: $color-primary;
    }
  }
}

body {
  padding: 0;
  margin: 0;
  font-family: $font-family;
  
  a {
    @include link-styles;
  }
  
  * {
    box-sizing: border-box;
  }
  
  @include dark-mode;
}
